@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    scrollbar-width: thin;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    overflow-y: overlay;
    overflow-x: overlay;
}

body {
    background-color: rgb(58, 58, 58);
}

.background img {
    position: fixed;
    image-rendering: pixelated;
    height: 100%;
    width: 100%;
    z-index: 0;
    object-fit: cover;
}

.App {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    color: white;
}

.appContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
}

.weatherAppContainer {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.github {
    align-self: start;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    width: fit-content;
    z-index: 1;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    transition: all ease-in-out 2s;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.137);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.39);
    height: 10px;
    border-radius: 20px;
}

*:hover::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

@media (max-width:810px) {
    .App {
        width: 100%;
        height: 100%;
        justify-content: center;
        color: white;
    }

    .appContainer {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 40px;
    }
}