@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    scrollbar-width: thin;
    /* user-select: none; */
}

html {
    overflow-y: overlay;
    overflow-x: overlay;
}

body {
    margin: 0 !important;
}

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.App {
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(255, 0, 0, 0.164); */
    justify-content: center;
}

.appContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.weatherAppContainer {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 255, 255, 0.137); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

.github {
    align-self: start;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-size: 17px;
    width: fit-content;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    transition: height 2s ease-in-out;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.137);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.39);
    height: 10px;
    border-radius: 20px;
}

*:hover::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}