.futurePanelData {
    width: 100%;
    max-height: 400px;
    height: 100%;
}

.futurePanelDataCard {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.futureDayDataCard {
    flex-direction: column;
    width: 100%;
    max-width: 220px;
    max-height: 300px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.futureDayDataCard img {
    max-width: 130px;
    max-height: 90px;
}

.futureDayDataCard div {
    white-space: nowrap;
}

.futureDayDataCard h3 {
    font-size: 20px;
    text-align: center;
}

.futureDayDataCard h2 {
    align-self: start;
    white-space: nowrap;
}

.switchesBtnsContainer {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.formatUnitForm {
    backdrop-filter: blur(11px);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.formatTimeForm {
    backdrop-filter: blur(11px);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.formatUnitForm input[type="radio"],
.formatTimeForm input[type="radio"] {
    display: none;
}

.formatTimeForm label {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.formatTimeForm input[type="radio"]:checked+label {
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 10px;
    padding: 10px;
}

.formatUnitForm label {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.formatUnitForm input[type="radio"]:checked+label {
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 10px;
    padding: 10px;
}

.futureDataCardsContainer {
    display: flex;
    gap: 25px;
    overflow-x: overlay;
}