.todayData {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 160px));
    grid-template-rows: [first] 80px repeat(2, minmax(100px, 160px));
    grid-template-areas:
        ". header header"
        "visibility humidity windSpeed"
        "feelsLike pressure uvIndex";
    gap: 20px;
    min-width: 426px;
}

.hour {
    grid-area: header;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.hour h2 {
    font-size: 40px;
}

.iconsInfo {
    min-width: 50px;
    min-height: 50px;
}

.visibility {
    grid-area: visibility;
    align-items: center;
    justify-content: center;
}

.humidity {
    grid-area: humidity;
    align-items: center;
    justify-content: center;
}

.windSpeed {
    grid-area: windSpeed;
    align-items: center;
    justify-content: center;
}

.feelsLike {
    grid-area: feelsLike;
    align-items: center;
    justify-content: center;
}

.pressure {
    grid-area: pressure;
    align-items: center;
    justify-content: center;
}

.uvIndex {
    grid-area: uvIndex;
    align-items: center;
    justify-content: center;
}

.cardInfoText {
    gap: 15px;
    flex-direction: column;
}

.cardInfoText p {
    font-size: 20px;
    white-space: nowrap;
}

.cardStyle {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(11px);
    padding: 25px;
    display: flex;
    border-radius: 20px;
}

.searchFromCard {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(11px);
    padding: 15px;
    display: flex;
    border-radius: 20px;
    max-height: 65px;
    max-width: 350px;
    width: 100%;
    align-items: center;
}

.searchFromCard input {
    outline: none;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.searchFromCard button {
    background: none;
    border: none;
    width: 45px;
    height: 45px;
}

.todayCard {
    flex-direction: column;
    max-width: 520px;
    max-height: 440px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.todayInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.todayWeather {
    text-align: center;
    font-size: 40px;
}

.todayTemperature {
    font-size: 40px;
}

.todayLocation {
    font-size: 20px;
}

.todayCard img {
    align-self: center;
    max-width: 310px;
    max-height: 230px;
}