.todayData {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    width: 100%;
    gap: 20px;
}

.infoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(116px, 1fr));
    grid-template-rows: auto;
    gap: 20px;
}

.hour {
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    max-height: 80px;
    max-width: 340px;
    align-self: end;
    width: 100%;
}

.hour h2 {
    font-size: 40px;
}

.iconsInfo {
    min-width: 50px;
    min-height: 50px;
}

.cardInfoText {
    align-items: center;
    justify-content: center;
    transition: transform cubic-bezier(0.54, 0.81, 0.5, 1.76) 0.25s !important;
    cursor: pointer;
    gap: 15px;
    flex-direction: column;
    max-height: 160px;
}

.cardInfoText:hover {
    transform: scale(1.1) !important;
}

.cardInfoText p {
    font-size: 20px;
    white-space: nowrap;
}

.cardStyle {
    background: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(11px);
    padding: 25px;
    display: flex;
    border-radius: 20px;
}

.searchFromCard {
    background: rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(11px);
    padding: 15px;
    display: flex;
    border-radius: 20px;
    max-height: 65px;
    max-width: 350px;
    width: 100%;
    align-items: center;
}

.searchFromCard input {
    outline: none;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.searchFromCard input::placeholder {
    color: rgba(255, 255, 255, 0.589);
}

.searchFromCard button {
    background: none;
    border: none;
    width: 45px;
    height: 45px;
}

.todayCard {
    flex-direction: column;
    max-width: 520px;
    max-height: 440px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.todayInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.todayWeather {
    text-align: center;
    font-size: 40px;
}

.todayTemperature {
    font-size: 40px;
}

.todayLocation {
    font-size: 20px;
}

.todayCard img {
    align-self: center;
    max-width: 310px;
    max-height: 230px;
}

#inputForm {
    color: white;
}

@media (max-width:1280px) {
    .todayData {
        gap: 10px;
    }

    .todayLocation {
        font-size: 15px;
    }

    .todayTemperature {
        font-size: 30px;
    }

    .todayWeather {
        font-size: 30px;
    }

    .todayCard {
        padding: 15px;
    }

    .todayCard img {
        align-self: center;
        max-width: 210px;
        max-height: 210px;
    }

    .searchFromCard input {
        font-size: 15px;
    }

    .info {
        gap: 10px;
    }

    .hour h2 {
        font-size: 30px;
    }

    .infoGrid {
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(101px, 1fr));
    }

    .cardInfoText p {
        font-size: 15px;
    }
}

@media (max-width:1100px) {
    .appContainer {
        gap: 10px;
    }

    .hour {
        max-width: 100%;
    }

    .todayData {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, fit-content);
    }

    .searchFromCard {
        grid-area: 1/1/1/3;
    }

    .infoGrid {
        grid-template-columns: repeat(auto-fill, minmax(123px, 1fr));
    }
}

@media (max-width:810px) {
    .todayData {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .searchFromCard {
        order: 0;
    }

    .todayCard {
        order: 1;
    }

    .info {
        order: 2;
    }

    .info {
        gap: 10px;
    }
}